body {
    background-color: aliceblue
}
header {
    width: 100%;
    height: 200px;
    display: block;
}

header .tagline {
    width: 50%;
    float: left;
    font-size: 30px;
    vertical-align: middle;
    padding-top: 50px;
}

header img{
    height: 200px;
    float: right;
}

.container {
    width: 920px;
    margin: 0 auto 0 auto;
}

h1 span {
    font-style: italic;
}

.card {
    width: 43%;
    height: auto;
    display: block;
    float: left;
    margin: 0 2% 10px 0;
    padding: 2%;

    border: 1px solid black;

    /* box-shadow: 4px 8px; */
    
  }

  .card img {
      width: 50%;
      float: left;
  }

  .card h3 {
    width: 46%;
    float: left;
    padding: 2%;
}
  .container img {
      max-width: 100%;
  }
.topnav {
background-color: aquamarine;
float:center;
text-align: center;
padding: auto;
font-size: 17px;
width: 100%;
  }

.h1 {
    background-color: aquamarine;
    font-size: 10px;
    font-style: normal;
}


.contact-section {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    margin: 20px 0;
}


footer {
    width: 100%;
    height: 200px;
    display: block;
    clear: both;
}
